node_modules/
.output/
.wxt/
dist/
build/
.venv/
*.egg-info/
*.zip
.DS_Store
*.log
src/system/firefox_host.json
src/system/chrome_host.json
.local
.env
chrome-key.pem
.ruff_cache/
__pycache__/
*.py[cod]
*$py.class
